@import "../../styles/const.scss";

.optionsItem {
  margin-bottom: 32px;
}

.optionsTitle {
  margin-bottom: 16px;
}

.inputRadio {
  margin: 0px 8px;
  appearance: none;
  height: 12px;
  width: 12px;
  border: 1px solid $gray;
  border-radius: 50%;
  cursor: pointer;

  + label {
    color: $gray;
    cursor: pointer;
  }

  &:checked {
    border: 3px solid $accent;
    + label {
      color: $black;
    }
  }
}

.selectColor {
  display: flex;
  flex-wrap: wrap;

  .item {
    margin-right: 8px;
    &:first-of-type input {
      margin-left: 0px;
    }
  }
}

.selectRate {
  .item {
    margin-bottom: 8px;
    input {
      margin-left: 0;
    }
  }
}

.otherOptions {
  label {
    color: $gray;
    cursor: pointer;
  }

  input {
    margin: 8px;
    margin-left: 0;
  }
  input:checked + label {
    color: $black;
  }
}

.dateInputWrapper {
  display: grid;
  grid-template-columns: 15px 224px;
  align-items: baseline;
}

.rangePicker {
  margin-bottom: 15px;
}

.input {
  margin: 0px 8px 5px;
  width: 215px;
  border: none;
  border-bottom: 1px solid $black;
  height: 20px;
}
