@import "../../styles/const.scss";

.wrapper {
  width: 688px;
  flex-shrink: 1;
  overflow: hidden;
}

.item {
  display: flex;
  padding: 0 64px;
  height: 100vh;
  box-sizing: border-box;
  color: white;
}

.content {
  margin: auto;
  max-width: 495px;
  text-align: left;
}

.title {
  margin: 0;
  font-size: 40px;
  line-height: 47px;
  font-weight: 500;
}

.text {
  margin: 8px 0 32px;
  font-size: 24px;
  line-height: 22px;
  font-weight: 300;
}

.green {
  background: linear-gradient(90deg, #13493f 0%, #0c7b1b 100%);
}

.blue {
  background: linear-gradient(90deg, #132949 0%, #0c7b67 100%);
}

.red {
  background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
}

.purple {
  background: linear-gradient(90deg, #281349 0%, #720c7b 100%);
}

.indicatorStyle {
  margin: 0 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
  display: inline-block;
  cursor: pointer;
}

.selectedIndicator {
  background: $accent;
}

.button {
  width: 64px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 5;
  border: none;
  background: none;
  cursor: pointer;
  &:hover {
    background: $accent;
    opacity: 0.2;
  }
}

.buttonLeft {
  left: 0;
}

.buttonRight {
  right: 0;
}

.arrow {
  height: 13px;
  width: 13px;
  position: absolute;
  top: 50%;
  border-left: 2px solid white;
  border-top: 2px solid white;
  z-index: 5;
}

.arrowLeft {
  left: 28px;
  transform: translateY(50%) rotate(-45deg);
}

.arrowRight {
  right: 28px;
  transform: translateY(50%) rotate(135deg);
}

@media all and(max-width:1439px) {
  .button {
    width: 32px;
  }

  .arrowLeft {
    left: 12px;
  }

  .arrowRight {
    right: 12px;
  }
}
