.map {
  padding: 16px 0;
  img {
    max-width: 100%;
  }
}

.select {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  align-items: center;
  margin-bottom: 45px;
  text-align: right;
}
